@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: center;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F0FFF4;
}

footer {
    background-color: #1B2830;
    color: #F0FFF4;
    padding: 2rem 1rem;
}

footer a {
    display: block;
    margin: 0.25rem 0;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #4CAF50;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

