@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    background-color: #212529;
    color: #fff;
    padding: 1rem;
}

    footer a {
        margin-right: 1rem;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
            color: #0d6efd; /* Bootstrap primary blue */
        }



