.register-container {
    width: 500px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .register-container h2 {
        text-align: center;
        margin-bottom: 25px;
        color: #333;
    }e

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: #444;
        font-weight: bold;
        font-size: 14px;
    }

    .form-group input {
        width: 100%;
        padding: 12px 15px;
        border: none;
        border-radius: 20px;
        background: #f0f0f0;
        font-size: 15px;
        outline: none;
    }

.btn-register {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #43BE41;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

    .btn-register:hover {
        opacity: 0.9;
    }





.event-form {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* две равни колони */
    gap: 15px;
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #35c152;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}