@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "EcoPoints - Начало";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/IndexStyle.css" />
</head>
<!-- Body -->
<div class="container mt-5">
    <div class="text-center">
        <h1 class="text-success">Добре дошли в EcoPoints!</h1>
        <p class="lead">Платформа, която мотивира гражданите да рециклират чрез точки и класации.</p>
    </div>
    <div class="text-center">
        <!-- context -->
        <pre></pre>
    </div>
</div>
</html>