@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "EcoPoints - Начало";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/IndexStyle.css" />
</head>
<!-- Body -->
<div class="container mt-5">
    <div class="text-center">
        <h1 class="text-success">Добре дошли в EcoPoints 🌍</h1>
        <p class="lead">Тук можете да печелите точки чрез рециклиране и да участвате в събития.</p>
        <a href="@Url.Action("Create", "Items")" class="btn btn-primary btn-lg">Започни сега ➕</a>
    </div>
    <div class="text-center">
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
        <h1 class="text-success">content</h1>
    </div>
</div>
</html>