@{
    ViewBag.Title = "About - EcoPoints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-success">За EcoPoints</h1>
            <p class="lead">Нашата мисия е да превърнем рециклирането в забавна и полезна игра за всички граждани.</p>
            <hr />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Какво е EcoPoints?</h3>
            <p>
                EcoPoints е иновативна програма, която мотивира хората да рециклират чрез система за точки.
                Всеки може да заснеме кратко видео, показващо как рециклира, и да го качи в платформата.
                За всяко действие се печелят точки, които се натрупват в личния профил.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Какво печелите?</h3>
            <p>
                Натрупаните точки могат да бъдат използвани за награди, специални отстъпки в магазини,
                както и достъп до екологични инициативи и събития. Така EcoPoints носи ползи както за
                околната среда, така и за хората.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <h3>Нашата визия</h3>
            <p>
                Вярваме, че градът на бъдещето е зелен, чист и устойчив. Чрез EcoPoints искаме да изградим
                общност от активни граждани, които се грижат за природата и получават реални ползи за своите усилия.
            </p>
        </div>
    </div>
</div>
